@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-mk-bg text-mk-fg selection:bg-mk-accent selection:text-mk-fgOnAccent;
}

hr {
	@apply border-mk-divider;
}

::-webkit-scrollbar {
	width: 0.5rem;
	background-color: inherit;
}

::-webkit-scrollbar-thumb {
	@apply bg-mk-scrollbarHandle hover:bg-mk-scrollbarHandleHover active:bg-mk-accent;
	background-clip: content-box;
	min-width: 0.5rem;
	min-height: 32px;
}
