@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-mk-base text-mk-base-content;
}

hr {
	@apply border-mk-misc-divider;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-corner {
	@apply bg-mk-panel;
}
::-webkit-scrollbar-thumb {
	@apply bg-mk-scrollbar-handle hover:bg-mk-scrollbar-handle-hover;
	background-clip: content-box;
	min-width: 0.5rem;
	min-height: 32px;
}
::-webkit-scrollbar-track {
	@apply bg-mk-panel;
}
