@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-bg text-fg;
}

hr {
	@apply border-divider;
}

select,
input {
	@apply rounded-md bg-bg text-fg;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-corner {
	background: #20252e;
}
::-webkit-scrollbar-thumb {
	background-color: #343d4b;
	background-clip: content-box;
	min-width: 0.5rem;
	min-height: 32px;
}
::-webkit-scrollbar-track {
	background-color: #20252e;
}
