---
import Core from '../components/Core.astro';
---

<Core>
  <div class="p-8">
    <div class="max-w-2xl prose mx-auto rounded-lg bg-base-300 p-8 shadow-md">
      <slot />
    </div>
  </div>
</Core>
