---
import Core from '../components/Core.astro';
---

<Core>
  <div class="p-8">
    <div class="max-w-2xl prose mx-auto rounded-xl bg-base-300 p-8 shadow-md">
      <header>
        <h1 class="mb-2">NGS Log Observer</h1>
        <p>
          An <i>ActionLog</i> viewer for
          <a class="italic" href="https://pso2.com/">PSO2:NGS©️</a> by <a
            href="https://jojobii.arks.moe">@jojobii</a
          >.
        </p>
      </header>

      <section id="features">
        <h2>Features</h2>
        <ul>
          <li>
            Watch item drops from a dedicated window as they happen in the game.
          </li>
          <li>View total N-Meseta gained during your play session.</li>
        </ul>
      </section>

      <section id="download">
        <h2>
          <a
            class="link"
            href="https://github.com/jojobii-arks/ngs-log-observer/releases/"
            >Click here to view releases!</a
          >
        </h2>
        <ul>
          <li>
            Built as a portable <code>.exe</code> app. Just download and run!
          </li>
          <li>
            Auto-detects the most recently used game directory if you play on
            multiple versions.
          </li>
          <li>
            <b>NOTE:</b> The code is unsigned, I'm too stingy for a certificate rn
            🤣
          </li>
        </ul>
      </section>

      <section id="notes">
        <h2>Notes and Links</h2>
        <ul>
          <li>
            Have any suggestions? Feel free to contact me via SNS! <a
              href="https://jojobii.arks.moe">Here are my links.</a
            >
          </li>
          <ul>
            <li>
              If you know how to use GitHub Issues, I would prefer suggestions
              and bug reports there .3.
            </li>
          </ul>
          <li>
            View code repository here: <a
              href="https://github.com/jojobii-arks/ngs-log-observer"
              class="font-mono">@jojobii-arks/ngs-log-observer</a
            >
          </li>
          <li>
            Implementation based off of <a
              class="font-mono"
              href="https://github.com/masayoshi4649/PSO2NGSLogViewer"
              >@masayoshi4649/PSO2NGSLogViewer</a
            >
          </li>
        </ul>
      </section>

      <hr />

      <section id="preview">
        <h2 class="text-center">Previews (v1.0)</h2>
        <img
          class="mx-auto rounded-xl border-base-content border-2"
          src="images/preview-filled-log.png"
          alt="Filled Item Log"
        />
        <!-- <img
          class="mx-auto rounded-xl border-base-content border-2"
          src="images/preview-live.gif"
          alt="Animated Live Preview"
        /> -->
      </section>
    </div>
  </div>
</Core>
