---
import Core from '../components/Core.astro';
---

<Core>
  <div class="p-8">
    <div class="max-w-2xl prose mx-auto rounded-xl bg-base-300 p-8 shadow-md">
      <header>
        <h1 class="mb-2">NT NGS Log Observer</h1>
        <p>
          An <i>ActionLog</i> viewer for
          <a class="italic" href="https://pso2.com/">PSO2:NGS©️</a> by <a
            href="https://jojobii.arks.moe">@jojobii</a
          >.
        </p>
      </header>

      <section id="features">
        <h2>Features</h2>
        <ul>
          <li>
            Watch item drops from a dedicated window as they happen in the game.
          </li>
          <li>View total N-Meseta gained during your play session.</li>
        </ul>
      </section>

      <section id="differences">
        <h2>
          Differences from <a
            href="https://github.com/jojobii-arks/ngs-log-observer"
            ><code>ngs-log-observer</code></a
          >
        </h2>
        <ul>
          <li>
            Built with <a href="https://tauri.studio/">Tauri</a> instead of Electron.
          </li>
          <li>Less CPU usage for a bit more RAM usage (I think?).</li>
        </ul>
        <img
          class="mx-auto rounded-xl"
          src="images/memory-usage.png"
          alt="Memory Usage"
        />
        <ul>
          <li>Starts up <strong>hella</strong> quick.</li>
          <li>
            <code>~3MB</code> installer size compared to <code>~60MB</code> for Electron
            portable binary.
          </li>
        </ul>
      </section>

      <section id="download">
        <h2>
          <a
            class="link"
            href="https://github.com/jojobii-arks/nt-ngs-log-observer/releases/"
            >Click here to view releases!</a
          >
        </h2>
        <ul>
          <li>
            The application is packaged in an installer.
          </li>
          <li>
            Auto-detects the most recently used game directory if you play on
            multiple versions.
          </li>
          <li>
            <b>NOTE:</b> The code is unsigned, I'm too stingy for a certificate rn
            🤣
          </li>
        </ul>
      </section>

      <section id="notes">
        <h2>Notes and Links</h2>
        <ul>
          <li>
            Have any suggestions? Feel free to contact me via SNS! <a
              href="https://jojobii.arks.moe">Here are my links.</a
            >
          </li>
          <ul>
            <li>
              If you know how to use GitHub Issues, I would prefer suggestions
              and bug reports there .3.
            </li>
          </ul>
          <li>
            View code repository here: <a
              href="https://github.com/jojobii-arks/nt-ngs-log-observer"
              class="font-mono">@jojobii-arks/nt-ngs-log-observer</a
            >
          </li>
          <li>
            Implementation based off of <a
              class="font-mono"
              href="https://github.com/masayoshi4649/PSO2NGSLogViewer"
              >@masayoshi4649/PSO2NGSLogViewer</a
            >
          </li>
        </ul>
      </section>

      <hr />

      <section id="preview">
        <h2 class="text-center">Previews (v1.0.0)</h2>
        <img
          class="mx-auto rounded-xl"
          src="images/preview-filled-log.png"
          alt="Filled Item Log"
        />
        <!-- <img
          class="mx-auto rounded-xl border-base-content border-2"
          src="images/preview-live.gif"
          alt="Animated Live Preview"
        /> -->
      </section>

      <hr />
      <footer>
        <center>
          <i
            >©SEGA PHANTASY STAR ONLINE 2 All rights to the copyrighted works
            (images, data, audios, texts, etc.) used in PSO2 are owned by SEGA
            Games Co. Ltd. All other trademarks, logos and copyrights are
            property of their respective owners
          </i>
        </center>
      </footer>
    </div>
  </div>
</Core>
