---
import favicon32 from '/favicon-32x32.png';
import favicon16 from '/favicon-16x16.png';
import faviconIco from '/favicon.ico';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" sizes="32x32" href={favicon32} />
    <link rel="icon" type="image/png" sizes="16x16" href={favicon16} />
    <link rel="shortcut icon" href={faviconIco} type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>NGS Log Observer</title>
    <meta
      name="description"
      content="An ActionLog viewer for PSO2:NGS, but in Tauri this time!"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
