name: 'Build /app'

on:
  # Runs on pushes targeting the default branch if changes are made to the app directory
  push:
    branches: 
      - main
    paths:
      - "app/**"

  # Runs on PRs targeting the default branch if changes are made to the app directory
  pull_request:
    branches: 
      - main
    paths:
      - "app/**"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Runs on release drafts
  release:
    types: [created]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-binary:
    strategy:
      fail-fast: false

    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Cache cargo
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ./app/src-tauri/target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'


      - name: setup Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Setup pnpm and install deps
        working-directory: ./app
        run: |
          corepack enable
          pnpm install

      - uses: JonasKruckenberg/tauri-build@v1
        id: tauri_build
        with:
          projectPath: app

      # The `artifacts` output can now be used by a different action to upload the artifacts
      - uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: "${{ join(fromJSON(steps.tauri_build.outputs.artifacts), '\n') }}"