name: 'Build /app'

on:
  # Runs on pushes targeting the default branch if changes are made to the web directory
  push:
    branches: 
      - main
    paths:
      - "app/**"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Runs on release drafts
  release:
    types: [created]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true



jobs:
  build-binaries:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2

      - name: setup node
        uses: actions/setup-node@v1
        with:
          node-version: 18
      
        # setup pnpm and set cwd to /app
      - name: Setup pnpm and install deps
        working-directory: ./app
        run: |
          corepack enable
          pnpm install

      - name: install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - uses: JonasKruckenberg/tauri-build@v1
        id: tauri_build
        with:
          projectPath: app

      # The `artifacts` output can now be used by a different action to upload the artifacts
      - uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: "${{ join(fromJSON(steps.tauri_build.outputs.artifacts), '\n') }}"